.action-button
  %a{:href => "/apel"} Przekaż 1% podatku

.clr.wraper
  %p.lead
    Cześć. Nazywam się Antoni Misiewicz i urodziłem się 4 lipca 2011 roku w Suwałkach. Jestem starszym bratem bliźniakiem Oleny. Po urodzeniu musiałem zostać dłużej w szpitalu, ponieważ miałem problemy z oddychaniem i przez pierwsze dwa tygodnie mojego życia leczono mnie antybiotykami, chociaż nadal nie wiadomo, co to tak naprawdę było.

  .about.clr
    .about-pic
      %img{:alt => "ja z mamą Krystyną", :src => "/img/about-pic.png"}
    %ul.clr
      %li
        %span.label Imię:
        %span.value Antoni
      %li
        %span.label Nazwisko:
        %span.value Misiewicz
      %li
        %span.label Rok urodzenia:
        %span.value 2011
      %li
        %span.label
          Wzrost
          %small> *
          \:
        %span.value 83cm
      %li
        %span.label
          Waga
          %small> *
          \:
        %span.value 12kg
      %li
        %span.label Rodzeństwo:
        %span.value siostra Olena
    %span.notice
      %small *
      stan na 21.11.2012
  / .about
/ .article
.box.orange
  .wraper.clr
    %p
      Rodzice mówią, że byłem wtedy strasznym śpiochem, bo zdarzało się, że budzili mnie do jedzenia nawet przez 45 minut. Jeszcze w szpitalu wstępnie stwierdzono, że mam wadę genetyczną – zespół Downa, jednak na potwierdzenie moi rodzice musieli trochę zaczekać. Gdy ja i Olena skończyliśmy miesiąc mama i tato zabrali nas do Warszawy, gdzie mieszkamy. Badania genetyczne potwierdziły wcześniejszą diagnozę lekarzy. I zaczęły się moje wizyty u najróżniejszych specjalistów:
    %ul.doctor
      %li
        %h4 Kardiolog
        %p w szpitalu zdiagnozowano xxx jednak kolejne badania potwierdziły, że ubytek zarasta i wszystko jest dobrze.
      %li
        %h4 Ortopeda
        %p ze względu na ułożenie w brzuchu u mamy było ryzyko, że mogą być problemy z bioderkami ale wszystko jest ok. Jednak ze względu na moja wiotkość mięśni muszę być systematycznie kontrolowany.
      %li
        %h4 Okulista
        %p już wiem, że w przyszłości będę musiał nosić okulary, jestem krótkowidzem.
    %ul.doctor
      %li
        %h4 Endokrynolog
        %p ze względu na zD, mogę mieć problemy z hormonami tarczycy wiec jestem pod stałą obserwacją.
      %li
        %h4 Laryngolog
        %p jak to często bywa u zespołowców mam lekki niedosłuch. Jest to związane z wiotkością mięśni i słabym odprowadzaniem płynów z uszu. Przez to  najprawdopodobniej będę miał zabieg drenażu i musze systematycznie odwiedzać panią laryngolog.
      %li
        %h4 Pediatra
        %p podobno dzieci z zD mają słabszą odporność, wiec ogólnie częściej odwiedzam lekarza i systematycznie sprawdzam wyniki krwi.
    %p
      Poza wizytami u lekarzy jestem jeszcze pod stała opieka dwóch osób: pań rehabilitantek oraz pani oligofrenopedagog. Rehabilitacje ruchową mam przynajmniej 3 razy w tygodniu, nie licząc czasu, w którym męczy mnie z podobnymi ćwiczeniami mama. Z panią oligofrenopedagog spotykam się raz na 2-3 tygodnie, a później ćwiczą ze mną rodzice.
  / .wraper
/ .box.orange
.clr.wraper
  %p.lead
    Postępy, jakie daje rehabilitacja widać gołym okiem, a w związku z tym, że będę starał się uzupełniać stronę systematycznie to mam nadzieję, że zauważycie to i Wy. :)
/ .wraper