.box.blue
  .clr.wraper
    %p.lead
      Szanowni Państwo,
      %br
      Nasz synek Antoni ma zespół Downa. Pragniemy zapewnić mu jak najlepsze warunki rozwoju. Niestety wiąże się to z ogromnymi kosztami, których nie jesteśmy w stanie pokryć samodzielnie. Dlatego też zwracamy się do Państwa z gorącą prośbą o przekazanie 1% podatku należnego na pomoc naszemu synkowi – Antosiowi.
/ .box blue
.wraper.clr
  %p.lead
    Przekaż swój 1% podatku Antkowi!
    %br
    Wystarczy, że w zeznaniu podatkowym wpiszesz dane:

  .sample.clr
    .col2
      %ul.krs
        %li
          %span.label
            KRS
            %small (pole 124):
          %span.val 0000037904
        %li
          %span.label
            Cel szczegółowy 1%
            %small (pole 126):
          %span.val 17994 Misiewicz Antoni
    / .col2
    .col2
      %figure
        %a{:href => "pdf/apel.pdf", :title => "Apel - plik pdf"} 
          %img.wniosek{:alt => "podgląd wniosku", :src => "/img/wniosek.jpg"}
        %figcaption Przykład prawidłowo wypełnionego wniosku
    / .col2
  / .clr
  .fundacja.clr
    %p.lead
      Wszelkie darowizny prosimy wpłacać na konto:
    %p 
      %strong Fundacja Dzieciom  „Zdążyć z Pomocą”
      %br
      ul. Łomiańska 5 01-685 Warszawa
      %br
      15 1060 0076 0000 3310 0018 2615
      %br
      z dopiskiem:
      %span 17994 MISIEWICZ ANTONI - darowizna na pomoc i ochronę zdrowia.
    / .clr
  / .fundacja
/ .wraper
.box.blue
  .clr.wraper
    %p.lead
      Będziemy wdzięczni za każdy rodzaj wsparcia – duchowego czy materialnego. Dziękujemy!
  / .wraper