.content.blog
  .apel
    .wraper
      %img.antek{:alt => "", :src => "img/antek.png"}
        .apel-content
          %h2 Szanowni Państwo
          %p
            Nasz synek Antoni ma zespół Downa. Jest pogodnym i wesołym dzieckiem. Na świat przyszedł razem ze swoją siostrą Oleną
            4 lipca 2011 roku. Chcemy, aby mógł jak najlepiej funkcjonować w dalszym życiu. Wiąże się to z ogromnymi kosztami, dlatego też będziemy wdzięczni za każdy rodzaj wsparcia czy to duchowego czy materialnego.
        / .apel-content
    / .wraper
  / .apel
  .action-button
    %a{:href => ""} Przekaż 1% podatku
  .timeline.clr
    /box - dodawanie nowego posta
    .new-post.wraper
      %h3 Dodaj nowy post
      %form{:action => ""} 
        %ul 
          %li
            %label{:for => ""} Tytuł posta
            %input{:type => "text", :name => ""} 
          %li
            %label{:for => ""}  Treść posta
            %textarea{:name => "new-post", :cols => "30", :rows => "10"}
            %script CKEDITOR.replace( 'new-post' );
          %li
            %input{:type => "submit", :value => "Dodaj post"}
      /koniec dodawania posta
    .timeline-border
    .timeline-wraper.wraper.clr
      .month.clr
        .month-name
          %span Styczeń 2013
        .clr
          .item
            .pointer
            %header
              %a.link{:href => "", :title => "kopiuj link do postu"}
              .date wtorek, 23.08.2012
              
            %article
              %h2 Lorem ipsum dolor sit amet enim. Etiam suspendisse.
              %p
                Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.
          / .item
          .item
            %header
              %a.link{:href => "", :title => "kopiuj link do postu"}
              .date wtorek, 23.08.2012
            %article
              %h2 Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse.
              / %h3 Nazwa galerii
              %figure
                %a{:href => ""} 
                  %img{:src => "img/item-pic.jpg", :alt => ""} 
                / %figcaption tytuł fotografii
                / .gallery-nav 
              %p
                Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.
          / .item
          .item
            .pointer
            %header
              %a.link{:href => "", :title => "kopiuj link do postu"}
              .date wtorek, 23.08.2012
            %article
              %h2 Lorem ipsum dolor sit amet enim. Etiam suspendisse.
              %p
                Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.
          / .item
          .item
            .pointer
            %header
              %a.link{:href => "", :title => "kopiuj link do postu"}
              .date wtorek, 23.08.2012
            %article
              %h2 Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse.
              %p
                Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.
              %p
                Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.
          / .item
        .month.clr
          .month-name
            %span Grudzień 2012
          .clr
            .item
              .pointer
              %header
                %a.link{:href => "", :title => "kopiuj link do postu"}
                .date wtorek, 23.08.2012
                
              %article
                %h2 Lorem ipsum dolor sit amet enim. Etiam suspendisse.
                %p
                  Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.
            / .item
            .item
              %header
                %a.link{:href => "", :title => "kopiuj link do postu"}
                .date wtorek, 23.08.2012
              %article
                %h2 Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse.
                / %h3 Nazwa galerii
                %figure
                  %a{:href => ""} 
                    %img{:src => "img/item-pic.jpg", :alt => ""} 
                  / %figcaption tytuł fotografii
                  / .gallery-nav 
                %p
                  Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.
            / .item
            .item
              .pointer
              %header
                %a.link{:href => "", :title => "kopiuj link do postu"}
                .date wtorek, 23.08.2012
              %article
                %h2 Lorem ipsum dolor sit amet enim. Etiam suspendisse.
                %p
                  Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.
            / .item
          .load
            %a{:href => ""} 
              %span wczytaj starsze posty
              
          / widok pojedynczego posta

          .single-post.clr
            .item
              %header
                .date wtorek, 23.08.2012
              %article
                %h2 Lorem ipsum dolor sit amet enim. Etiam suspendisse.
                %p
                  Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.
                %p
                  Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.
            / .item

    / .timeline
  / .content