@import url(font.css);

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

 }

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h2, h3 { color: #242850; }


/* ===== antonimisiewicz.pl ==================================================
   Author: Radoslaw Kowalewski / kowalewski.r@gmail.com
   ========================================================================== */

body { font: 17px/1.5 SignikaLight, Helvetica, Helvetica Neue, Arial; background: #6d688e url(/img/bg.jpg) center 0 no-repeat fixed; color: #666; }

.wraper { width: 70%; margin: 0 auto; }

.header-container { background: #fff; height: 80px; line-height: 80px; width: 100%; z-index: 10; position: fixed; top: 0; left: 0;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

.subpage .header-container {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.title { float: left; }
.title a { text-transform: uppercase; font-size: 26px; color: #29273b; font-family: SignikaSemibold;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.title a span { font-size: 36px; color: #dd402d;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.title a:hover { text-transform: uppercase; font-size: 26px; color: #dd402d; font-family: SignikaSemibold; }
.title a:hover span { font-size: 36px; color: #29273b; }

.header-container nav { float: right; }
.header-container nav>ul { margin: 0; padding: 0; }
.header-container nav>ul>li { display: inline-block; margin-right: 15px; }
.header-container nav>ul>li:last-child { margin: 0; }
.header-container nav>ul>li>a { font-size: 16px; color: #29273b; display: block;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.header-container nav>ul>li>a:hover, .header-container nav>ul>li>a.active { color: #dd402d; }

.header-container nav>ul>li.lang { position: relative; padding-right: 15px; background: url(/img/lang-arrow.png) right 0 no-repeat; cursor: pointer; margin-left: 20px; }
.header-container nav>ul>li.lang:hover { background-position: right bottom; }
.header-container nav>ul>li.lang>a { width: 16px; height: 11px; background: url(/img/flags.png) 0 0 no-repeat; text-indent: -9999px; display: block; float: left;}

.header-container nav>ul>li.lang .drop { display: none; width: 150px; position: absolute; top: 30px; left: 50%; margin-left: -82px; background: #fff; padding: 20px; border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2)
}
.header-container nav>ul>li.lang .drop:before { display: block; width: 20px; position: absolute; top: -14px; left: 50%; margin-left: -10px; background: url(/img/lang-drop.png) 0 0 no-repeat; content: ''; z-index: 2; height: 14px; }
.header-container nav>ul>li.lang .drop li { line-height: 1.5; border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px; }
.header-container nav>ul>li.lang .drop li:last-child { margin: 0; padding: 0; border: none; }
.header-container nav>ul>li.lang .drop li a { font-size: 13px; display: block; padding-left: 25px; background: url(/img/flags.png) 0 0 no-repeat; height: 11px; line-height: 11px; }

.header-container nav>ul>li.lang a.pl { background-position: 0 0 !important; }
.header-container nav>ul>li.lang a.en { background-position: 0 -11px !important; }
.header-container nav>ul>li.lang a.ua { background-position: 0 -22px !important; }
.header-container nav>ul>li.lang a.ru { background-position: 0 -33px !important; }

.apel { height: 276px; margin-top: 80px; }
.apel .wraper { position: relative; height: 276px; }
.apel .antek { display: block; position: absolute; top: 0; left: 0; width: 440px; height: 276px; }

.apel .apel-content { float: right; width: 50%; padding-right: 80px; color: #fff; text-shadow: 1px 1px 0 #222341; padding-top: 50px; }
.apel .apel-content h2 { font-family: SignikaRegular; }
.apel .apel-content p { font-size: 15px;margin: 0; }

.action-button { width: 100%; padding: 20px 0; text-align: center; background: #f1f1f1;
    background-image: -webkit-gradient(linear, center top, center bottom, from(white), to(rgb(181,181,181)));
    background-image: -webkit-linear-gradient(top, white, rgb(181,181,181));
    background-image: -moz-linear-gradient(top, white, rgb(181,181,181));
    background-image: -o-linear-gradient(top, white, rgb(181,181,181));
    background-image: -ms-linear-gradient(top, white, rgb(181,181,181));
    background-image: linear-gradient(to bottom, white, rgb(181,181,181));
}

.action-button a { position: relative; display: inline-block; font-size: 20px; font-family: SignikaRegular; color: #fff; text-shadow: 1px 1px 0 #911108; height: 54px; line-height: 54px; padding: 0 50px; border-radius: 50px; background: url(/img/action-button.png) 0 0 repeat-x; border: 1px solid #911108;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.action-button a:after { color: #f7b6ae; text-shadow: 1px 1px 0 #540c08; background: url(/img/action-after.png) 0 0 no-repeat; content: 'PDF'; display: block; position: absolute; width: 70px; height: 52px; line-height: 52px; top: 3px; right: -30px; font-size: 14px;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.action-button a:hover { padding: 0 70px; }
.action-button a:hover:after { color: #fff; }

.content .headline { padding: 15px 0; width: 100%; background: #242850 url(/img/content-headline.png) 0 0 repeat-x; text-align: center; }
.content .headline h3 { color: #fff; text-shadow: 1px 1px 0 #15162b; margin: 0; font-size: 26px; font-family: SignikaRegular; text-transform: uppercase;e }

.content .timeline { padding: 30px 0 60px 0; background: url(/img/timeline.png) center 0 repeat-y; }
.content .item { position: relative; width: 47%; float: left; background: #fff; margin-bottom: 20px; }
.content .item:nth-child(2n) { float: right; }

.content .item>header { height: 59px; position: relative; line-height: 59px; padding: 0 20px; color: #fff; }
.content .item>header:after { display: block; width: 14px; height: 17px; content: ''; position: absolute; top: 20px; right: -14px; }
.content .item:nth-child(2n)>header:after { right: auto; left: -14px; }
.content .item .pointer { display: block; position: absolute; width: 20px; height: 20px; background: url(/img/pointer.png) 0 0 no-repeat; top: 17px; margin-left: -10px; }
.content .item:nth-child(2n) .pointer { margin-right: -10px; margin-left: auto; }

.content .item>article { padding: 20px; }
.content .item>article h2 { font-size: 18px; color: #393651; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #cecece; line-height: 1.2; text-transform: uppercase; font-family: SignikaRegular; }
.content .item>article p:last-child { margin-bottom: 0; }


.content .item.orange>header { background: url(/img/header-orange.png) 0 0 repeat-x; text-shadow: 1px 1px 0 #af4b23; text-transform: uppercase; }
.content .item.orange>header:after { background: url(/img/pointer-orange.png) 0 0 repeat-x; }
.content .item.orange:nth-child(2n)>header:after { background: url(/img/pointer-orange2.png) 0 0 repeat-x; }


.footer-container { width: 100%; /*position: fixed; left: 0; bottom: 0;*/ height: 40px; line-height: 40px; background: #fff; border-top: 1px solid #ccc; }
strong { font-weight: normal; font-family: SignikaRegular; }


/* ==========================================================================
   subpage styles
   ========================================================================== */

.subpage .action-button { background: #242850 url(/img/content-headline.png) 0 0 repeat-x; z-index: 1; height: 92px; padding-top: 20px; }
.subpage .content { padding-top: 80px; background: #f1f1f1; }

.article-container { padding: 30px 0; }

.content aside { width: 35%; float: right; }
.content aside .box { padding: 30px; background: #ef6e35; color: #fff; margin-bottom: 30px; }
.content aside .box.blue { background: #282a56; color: #7a7ee6; }
.content aside .box h3 { color: #fff; }

.sample { margin-bottom: 30px; }

.krs { list-style: none; background: #fff; padding: 45px 30px; /*margin-bottom: 30px;*/
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.krs li { padding: 0; border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px; font-size: 18px; }
.krs li:last-child { border: none; padding: 0; margin: 0; }
.krs .label { margin-right: 10px; color: #242850; }
.krs .val { color: #d92613; }

.content .main-article { float: left; width: 65%; padding-right: 50px; }
.lead { font-size: 1.6em; color: #242850; font-family: SignikaRegular; margin: 30px 0; text-align: center; line-height: 1.4; }
.lead strong { font-family: SignikaSemibold; font-style: normal; color: #AE2218; }

.btn { position: relative; display: inline-block; font-family: SignikaRegular; color: #fff; text-shadow: 1px 1px 0 #911108; height: 40px; line-height: 40px; padding: 0 20px; border-radius: 50px; background: url(/img/action-button.png) 0 0 repeat-x; border: 1px solid #911108;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.btn:hover { padding: 0 30px; }

.about { padding: 30px 0; border-top: 1px solid #ccc; margin-top: 30px; }
.about-pic { text-align: center; margin-bottom: 50px; }
.about-pic img { display: block; width: 303px; height: 228px; margin: 0 auto; }
.about ul { list-style: none; padding: 0; }
.about li { display: block; float: left; width: 33%; padding-right: 30px; margin-bottom: 20px; font-size: 20px; text-align: center; }
.about li .label { color: #ae2218; margin-right: 15px; }

.box {  padding: 30px 0; }
.box.orange { /*background: #ed582c;*/ background: #c26e45 url(/img/orangebg.jpg) center 0 no-repeat; color: #fff; text-shadow: 1px 1px 0 #4a1828; }
.box.blue { background: #6d688e url(/img/bg.jpg) center 0 no-repeat; color: #7a7ee6; }
.box .lead { color: #fff; }
.box.blue .lead { text-shadow: 1px 2px 0 #0a0c35; }

.doctor { border-bottom: 1px solid #eebfa8; padding: 0 0 30px 0; margin-bottom: 30px; overflow: hidden; }
.doctor:last-of-type { border: none; padding-bottom: 0; }
.doctor li { display: block; float: left; width: 33%; padding: 20px 0 20px 40px; border: none; background: url(/img/doctor-ico.png) 0 20px no-repeat; }
.doctor h4 { font-size: 1.5em; margin-bottom: 0.5em; color: #fff; font-family: SignikaSemibold; }
.doctor p { margin: 0; }

.col2 { width: 50%; float: left; }
.col2:first-child { padding-right: 15px; }
.col2:last-child { padding-left: 15px; }

.wniosek { padding: 10px; background: #fff; width: 100%; display: block; margin: 0 auto; max-width: 800px; border: 1px solid #ccc; margin-bottom: 10px; }
.fundacja { border-top: 1px solid #ccc; padding: 30px 0; }
.fundacja p { text-align: center; font-size: 20px; }
.fundacja p.lead { font-size: 1.6em; }
.fundacja img { float: left; margin-right: 30px; }
.fundacja strong { color: #242850; }
.fundacja span { color: #D92613; }

.contact { margin-bottom: 20px; }

.contact-box { margin: 30px 0; position: relative;}
.contact-pic { width: 30%; margin-right: 5%; }
.contact-pic img { display: block; width: 100%; }

.contact-txt { width: 65%; padding: 30px; border-radius: 8px; background: #fff; border: 1px solid #ccc; position: relative; }
.contact-txt:after { display: block; width: 16px; height: 19px; background: url(/img/contact-arrow.png) 0 0 no-repeat; content: ''; position: absolute; left: -16px; top: 50px; }
.contact-txt p:last-child { margin: 0; }

form { margin: 30px 0; }
form ul { list-style: none; }
form li { margin-bottom: 10px; }
textarea, input { 
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
 }
input[type=text] { width: 100%; margin: 0 auto; height: 40px; background: #fff; border: 1px solid #ccc; border-radius: 8px; text-indent: 10px; font-family: SignikaRegular; display: block; }
textarea { width: 100%; margin: 0 auto; height: 200px; min-height: 50px; background: #fff; border: 1px solid #ccc; border-radius: 8px; font-family: SignikaRegular; display: block; padding: 10px; }

input[type=text]:hover, textarea:hover { border-color: #999; }
input[type=text]:focus, textarea:focus { border-color: #DD402D; }

input[type=submit], input[type=button] { float: right; position: relative; display: inline-block; font-size: 18px; font-family: SignikaRegular; color: #fff; text-shadow: 1px 1px 0 #911108; height: 44px; line-height: 44px; padding: 0 20px; border-radius: 50px; background: url(/img/action-button.png) 0 0 repeat-x; border: 1px solid #911108;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

input[type=submit]:hover, input[type=button]:hover { padding: 0 30px; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {

    .header-container { position: static; left: auto; top: auto; height: auto; padding: 10px 0; }
    .wraper { width: 90%; }
    .header-container { line-height: 1.5; }
    .header-container .title { line-height: 1; margin-bottom: 10px; }
    .header-container nav { float: none; clear: both; }
    .header-container nav>ul>li>a { font-size: 13px; }
    .apel  { height: auto; padding: 20px 0; margin: 0; }
    .apel .wraper  { height: auto; padding: 20px 0; }
    .apel .antek { display: none; }
    .apel .apel-content { width: 100%; padding: 0; float: none; clear: both; }
    .apel .apel-content h2 { font-size: 18px; }
    .apel .apel-content p { font-size: 13px; }
    .title { float: none; clear: both; }
    .content .timeline { background: none; }
    .content .item { clear: both; float: none; width: 100%; }
    .content .item:nth-child(2n) { clear: both; float: none; width: 100%; }
    .content .item>header:after { display: none; }
    #pageslide { width: 90%; }

    .doctor { border: none; margin-bottom: 0; padding: 0; }
    .doctor li { float: none; width: 100%; padding: 20px 0 20px 40px; border-bottom: 1px solid #eebfa8; }
    .doctor:last-of-type li:last-child { margin-bottom: 30px; }

    .col2 { width: auto; float: none; clear: both; padding: 0 !important; margin-bottom: 30px; }
    .col2:last-child { margin-bottom: 0; }
    .lead { font-size: 1.2em; }

    .about li { float: none; width: auto; padding: 0; margin-bottom: 10px; border-bottom: 1px solid #ccc; padding-bottom: 10px; }


}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .wraper { width: 90%; }
    .header-container { line-height: 1.5; }
    .header-container .title { line-height: 1; margin-bottom: 10px; }
    .header-container nav { float: none; clear: both; }
    .apel  { height: 207px; }
    .apel .antek { width: 330px; height: 207px; }
    .apel .apel-content { width: 50%; padding-right: 0px; padding-top: 10px; }
    .apel .apel-content h2 { font-size: 18px; }
    .apel .apel-content p { font-size: 13px; }
    .title { float: none; clear: both; }
    .content .timeline { background: none; }
    .content .item { clear: both; float: none; width: 100%; }
    .content .item:nth-child(2n) { clear: both; float: none; width: 100%; }
    .content .item>header:after { display: none; }
    #pageslide { width: 90%; }

    .doctor { border: none; margin-bottom: 0; padding: 0; }
    .doctor li { float: none; width: 100%; padding: 20px 0 20px 40px; border-bottom: 1px solid #eebfa8; }
    .doctor:last-of-type li:last-child { margin-bottom: 30px; }

    .col2 { width: auto; float: none; clear: both; padding: 0 !important; margin-bottom: 30px; }
    .col2:last-child { margin-bottom: 0; }

    .about li { float: none; width: auto; padding: 0; margin-bottom: 10px; border-bottom: 1px solid #ccc; padding-bottom: 10px; }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .wraper { width: 90%; }
    .content .item { width: 46%; }
}

@media only screen and (min-width: 1140px) {
    /*.content .item { width: 47%; }*/
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clr:before,
.clr:after {
    content: " ";
    display: table;
}

.clr:after {
    clear: both;
}

.clr {
    *zoom: 1;
}

.left { float: left; }
.right { float: right; }

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
